header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  height: 15rem;
  z-index: 100;
}

.container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title {
  font-size: clamp(var(--font-size-md), 5vw, var(--font-size-xxxl));
  color: var(--color-light);
}

.titlespan {
  color: var(--color-primary);
}

.usercontrols {
  position: absolute;
  right: 0;
}

.link {
  color: var(--color-light);
  text-decoration: none;
  transition: .12s ease-in-out;
}

.link:hover {
  color: var(--color-primary);
}

p {
  color: var(--color-light);
}

@media screen and (max-width: 1199px) {
  .container {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0 1rem;
  }
}